
<div class=" justify-content-center">
    <div class="contanier">
    <form>
        <img src="./assets/email1.jpg">
       
        Robert Ford <br>

        <label for="email">robertford@gmail.com</label><br>
        <div>
            <button class="btn btn-primary" type="submit" routerLink="/edit"> Edit Profile</button> 
         </div>
                 <br> 
                 <br>

        <p> Shipping adrese </p>
        <button class="icon"><i class="fa fa-plus"></i></button>
        
        <div class="form-group">
                <input type="text" class="form-control" ngModel>
                <button mat-fab color="primary" ><i class="fa fa-trash"></i></button>
        </div>
        <div class="form-group1"> 
            <input type="text"  class = "form-control"  ngModel>
            <button mat-fab color="primary" ><i class="fa fa-trash"></i></button>
        </div>    
  </form>
</div>

